# SPAM EMAIL DETECTION

# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Importing dataset

In [3]:
raw_mail_data = pd.read_csv('SpamEmailDetection.csv')
raw_mail_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

# Preprocessing the dataset

In [4]:
raw_mail_data.shape

(5572, 5)

In [5]:
raw_mail_data.size

27860

In [6]:
raw_mail_data.info

<bound method DataFrame.info of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ?_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [7]:
raw_mail_data.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5163,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [8]:
# drop last three columns(Unnamed: 2, Unnamed: 3, Unnamed: 4) because these columns contains 50,12,6,non-null value out of 5572)
raw_mail_data.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [9]:
raw_mail_data.sample(5)

        v1                                                 v2
5571   ham                         Rofl. Its true to its name
4720   ham         Yup. Anything lor, if u dun wan it's ok...
800   spam  Last Chance! Claim ur ?150 worth of discount v...
2100   ham    Oh Howda gud gud.. Mathe en samachara chikku:-)
3479   ham                          What was she looking for?

In [11]:
# renaming the columns
raw_mail_data.rename(columns={'v1':'Category', 'v2':'Message'}, inplace=True)

In [12]:
raw_mail_data.sample(4)

     Category                                       Message
222       ham                        Sorry, I'll call later
3715      ham       Networking technical support associate.
876       ham  Are you in castor? You need to see something
257       ham          Where are you lover ? I need you ...

In [13]:
# replacing the null values with a null string
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [14]:
mail_data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
# checking the number of rows and columns in the dataframe
mail_data.shape

(5572, 2)

In [18]:
# label spam mail as 0; ham mail as 1;

mail_data.loc[mail_data['Category'] == 'spam', 'Category',] = 0
mail_data.loc[mail_data['Category'] == 'ham', 'Category',] = 1

In [19]:
# separting the data as texts and labels

X = mail_data['Message']
Y = mail_data['Category']

In [20]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ?_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [21]:
print(Y)

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

Splitting the data into training data and test data

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=3)

In [23]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

Feature Extraction

In [26]:
# transform the text data to feature vectors that can be used as inputs to the logistic regression

feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [27]:
# convert Y_train and Y_test values as integers

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [28]:
print(X_train)

3075    Mum, hope you are having a great day. Hoping t...
1787                           Yes:)sura in sun tv.:)lol.
1614    Me sef dey laugh you. Meanwhile how's my darli...
4304                Yo come over carlos will be here soon
3266                    Ok then i come n pick u at engin?
                              ...
789                          Gud mrng dear hav a nice day
968             Are you willing to go for aptitude class.
1667    So now my dad is gonna call after he gets out ...
3321    Ok darlin i supose it was ok i just worry too ...
1688                     Nan sonathaya soladha. Why boss?
Name: Message, Length: 4457, dtype: object

In [30]:
print(X_train_features)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 34599 stored elements and shape (4457, 7468)>
  Coords	Values
  (0, 742)	0.32207229533730536
  (0, 3962)	0.2411608243124387
  (0, 4279)	0.3893042361045832
  (0, 6580)	0.20305518394534605
  (0, 3375)	0.32207229533730536
  (0, 2116)	0.38519642807943744
  (0, 3126)	0.4403035234544808
  (0, 3251)	0.258880502955985
  (0, 3369)	0.21816477736422235
  (0, 4497)	0.2910887633154199
  (1, 4045)	0.380431198316959
  (1, 6850)	0.4306015894277422
  (1, 6397)	0.4769136859540388
  (1, 6422)	0.5652509076654626
  (1, 7420)	0.35056971070320353
  (2, 934)	0.4917598465723273
  (2, 2103)	0.42972812260098503
  (2, 3899)	0.40088501350982736
  (2, 2220)	0.413484525934624
  (2, 5806)	0.4917598465723273
  (3, 6121)	0.4903863168693604
  (3, 1595)	0.5927091854194291
  (3, 1838)	0.3708680641487708
  (3, 7430)	0.5202633571003087
  (4, 2523)	0.7419319091456392
  :	:
  (4452, 2116)	0.3092200696489299
  (4453, 1000)	0.6760129013031282
  (4453, 7250)	0.5787739591782677
  (4453, 1758)	0.45610005640082985
  (4454, 3019)	0.42618909997886
  (4454, 2080)	0.3809693742808703
  (4454, 3078)	0.34475593009514444
  (4454, 1995)	0.4166919007849217
  (4454, 1050)	0.31932060116006045
  (4454, 7323)	0.31166263834107377
  (4454, 5351)	0.42618909997886
  (4455, 1148)	0.38998123077430413
  (4455, 6413)	0.38998123077430413
  (4455, 6341)	0.25697343671652706
  (4455, 2755)	0.3226323745940581
  (4455, 7335)	0.2915949626395065
  (4455, 7384)	0.3028481995557642
  (4455, 2102)	0.3136468384526087
  (4455, 4235)	0.30616657078392584
  (4455, 3745)	0.16807158405536876
  (4455, 4755)	0.35860460546223444
  (4456, 6098)	0.5304350313291551
  (4456, 6114)	0.5304350313291551
  (4456, 1386)	0.4460036316446079
  (4456, 4541)	0.48821933148688146

Training the Model

Logistic Regression

In [31]:
model = LogisticRegression()

In [34]:
# training the Logistice Regresssion model with the training_data
model.fit(X_train_features, Y_train)

LogisticRegression()

Evaluating the trained Model

In [35]:
# prediction on training data

prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train, prediction_on_training_data)

In [36]:
print('Accuracy_on_training_data : ', accuracy_on_training_data)

Accuracy_on_training_data :  0.9661207089970832

In [37]:
# prediction on test data

prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test, prediction_on_test_data)

In [38]:
print('Accuracy_on_test_data : ', accuracy_on_test_data)

Accuracy_on_test_data :  0.9623318385650225

In [ ]:
Building a Predictive System

In [44]:
input_mail = ["Eh u remember how 2 spell his name... Yes i did. He v naughty make until i v wet."]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)
              
# making predictions 
prediction = model.predict(input_data_features)   
print(prediction)              


if (prediction[0]==1):
    print('Ham mail')
else:
    print('Spam mail')

[1]
Ham mail

In [46]:
input_mail = ["WINNER!! As a valued network customer you have been selected to receivea ?900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only."]

# convert text to feature vectors
input_data_features = feature_extraction.transform(input_mail)
              
# making predictions 
prediction = model.predict(input_data_features)   
print(prediction)              


if (prediction[0]==1):
    print('Ham mail')
else:
    print('Spam mail')

[0]
Spam mail